.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 600px;
  width: 100%;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 16px;
  align-items: center;
  max-width: 272px;
  width: 100%;
}
.item:nth-of-type(2n) {
  margin: 0;
}
.image {
  display: flex;
}
.cost {
  display: flex;
}
.text {
  text-align: center;
}
