.section {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  max-height: 536px;
  overflow-y: scroll;
}
.item {
  display: flex;
  align-items: center;
  gap: 8px;
  max-height: 80px;
}
.info {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  justify-content: flex-end;
  margin-right: 16px;
}
.price {
  display: flex;
  align-items: center;
}
.list::-webkit-scrollbar {
  width: 8px;
}
.list::-webkit-scrollbar-track {
  background: #2f2f37;
}
.list::-webkit-scrollbar-thumb {
  background: #8585ad;
}
